body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.product {
  width: 100%;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.product .productCard {
  -webkit-box-shadow: 0 2px 4px 0 gray;
          box-shadow: 0 2px 4px 0 gray;
  width: 200px;
  height: auto;
  margin-right: 25px;
  margin-top: 25px;
  font-family: arial;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.product .product-title {
  color: #180202;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2px;
  font-style: italic;
}

.product .productDetails {
  color: #180202;
  font-weight: bold;
  font-size: 13px;
}

.btn1 {
  border: 2px solid #180202;
  outline: 0;
  display: block;
  padding: 5px;
  color: white;
  background-color: #0d0d81;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  float: right;
  margin-top: 10px;
}

.btn1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn2 {
  border: 2px solid #180202;
  outline: 0;
  display: block;
  padding: 5px;
  color: white;
  background-color: #0d0d81;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  float: left;
  margin-top: 10px;
}

.btn2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.price {
  margin-top: 5px;
  display: block;
  float: left;
}

.price .cost1 {
  font-size: 18px;
  color: #180202;
}

.price .cost {
  color: gray;
  font-size: 16px;
  text-decoration: line-through;
}

.image {
  position: relative;
}

.image .img-1 {
  width: 200px;
  height: 140px;
  padding: 2px;
}

.image .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 96;
  width: 200px;
  height: 140px;
}

.image .img-top1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 99;
}

.image:hover .img-top1, .image:hover .img-top {
  display: inline;
}

#icon {
  font-size: 22px;
  color: #180202;
  background-color: #dff7ba;
  padding: 5px;
  margin-right: 10px;
  border-radius: 7px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#icon:hover {
  background-color: #5e5eeb;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.star {
  margin-top: 8px;
  display: block;
  font-size: 13px;
  float: right;
}

.star .checked {
  color: orange;
}

.b1[data-count] {
  font-size: 25px;
}

.b1[data-count]:after {
  position: relative;
  left: -8px;
  top: -8px;
  content: attr(data-count);
  font-size: 11px;
  padding: 3px;
  border-radius: 50%;
  opacity: 0.9;
  line-height: 1em;
  color: white;
  background: rgba(55, 24, 231, 0.85);
  text-align: center;
  min-width: 18px;
}
/*# sourceMappingURL=style.css.map */