body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


$font-color: rgb(24, 2, 2);

.product{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;

    .productCard {
        box-shadow: 0 2px 4px 0 gray;
        width:200px;
        height: auto;
        margin-right: 25px;
        margin-top: 25px;
        font-family: arial;
        background-color: whitesmoke;
        border-radius: 10px;
        text-align: center;
        padding: 5px;
    }
    .product-title {
        
        color: $font-color;
        font-weight: bold;
        font-size: 20px;
        margin-top: 2px;
        font-style: italic;
    }
    .productDetails {
        color: $font-color;
        font-weight: bold;
        font-size: 13px;

    }
}


.btn1 {
    border: 2px solid $font-color;
    outline: 0;
    display: block;
    padding: 5px;
    color: white;
    background-color:rgb(13, 13, 129);
    text-align: center;
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    float: right;
    margin-top: 10px;

    &:hover{
        transform: scale(1.1);
    }
}

.btn2 {
    border: 2px solid $font-color;
    outline: 0;
    display: block;
    padding: 5px;
    color: white;
    background-color:rgb(13, 13, 129);
    text-align: center;
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    float: left;
    margin-top: 10px;

    &:hover{
        transform: scale(1.1);
    }
}

  
.price {
    margin-top:5px;
    display: block;
    float: left;

    .cost1 {
        font-size: 18px;
        color: $font-color;
    }

    .cost {
        color: gray;
        font-size: 16px;
        text-decoration: line-through;
    }
}





.image {
    position: relative;
    
    .img-1{
        width: 200px;
        height: 140px;
        padding: 2px;
    }

    .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 96;
        width: 200px;
        height: 140px;
    }

    .img-top1 {
        display: none;
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 99;
            
    }

    &:hover .img-top ,.img-top1{
        display: inline;
    }

}
 
#icon{  
    font-size: 22px;
    color: $font-color;
    background-color: rgb(223, 247, 186);
    padding: 5px;
    margin-right: 10px;
    border-radius: 7px;
    transition: all .2s ease-in-out;

    &:hover{
        background-color:rgb(94, 94, 235);
        transform: scale(1.4);
    }

}


.star {
    margin-top: 8px;
    display: block;
    font-size: 13px;
    float: right;

    .checked {
        color: orange;
    }    
    
}


.b1[data-count]{

    font-size: 25px;

    &:after{
        position: relative;
        left:-8px;
        top:-8px;
        content: attr(data-count);
        font-size:11px;
        padding: 3px;
        border-radius:50%;
        opacity:0.9;
        line-height:1em;
        color: white;
        background:rgba(55, 24, 231, 0.85);
        text-align:center;
        min-width: 18px;
    }
}

